<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="footer" th:fragment="footer">  <!--다른 페이지에 포함시킬 영역을 th:fragment로 선언-->
        <footer class="page-footer cyan darken-3" style="background-color: black;">
            <div class="footer-title text-center py-3" style="font-size:25px; color:white" >
                MEALCIT COOK
            </div>
            <div class="footer-copyright text-center py-3" style="font-size:12px; color:white">
                법인명(상호) : 주식회사 밀키트쿡  |  대표자 : 밀키트  |  전화 : 02-123-1234<br>
                사업자등록번호 : 123-45-67890  |  통신판매업신고 : 2022-서울강남-0123호<br>
                주소 : 서울특별시 강남구 테헤란로 123번길 45<br>
                Copyright(c) 밀키트쿡 All rights reserved.
            </div>
        </footer>
    </div>
</html>