<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<!--사용자 스크립트 추가-->
<th:block layout:fragment="script">

  <script th:inline="javascript">

  </script>
</th:block>

<!--사용자 CSS 추가-->
<th:block layout:fragment="css">
  <style>




  </style>
</th:block>


<div layout:fragment="content">

  <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}"><!--Search기능을 이용해서 상품을 검색할때 페이징 처리시 해당 검색어를 유지하기 위해 hidden값으로 검색어 유지-->
  <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
    <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>    <!--상품을 검색했을때 어떤 검색어로 조회된 결과인지 보여준다-->
  </div>
  <div>
    <p class="text-center" style="font-size:30px; margin-top:50px;" >밀키트 상품</p>
  </div>


  <ul class="prod-list">

    <div class="row" style="margin-top:10px;">

      <th:block th:each="item, status: ${items.getContent()}"><!--조회한 메인상품 데이터를 보여준다 부트스트랩의 Card컴포넌트를 이용, 사용자가 카드형태로 생품의 이름,내용,가격을 볼수 있다-->
        <div class="col-md-3 margin">
          <li>
            <div class="card1">
              <a th:href="'/item/' +${item.id}" class="text-dark">
                <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="250">
                <div class="card-body">
                  <h4 class="card-title">[[${item.itemNm}]]</h4>
                  <!--<p class="card-text">[[${item.itemDetail}]]</p>-->
                  <p class="card-text">주문과 상세 설명은 클릭</p>
                  <h3 class="card-title">[[${item.price}]]원</h3>
                </div>
              </a>
            </div>
          </li>
        </div>
      </th:block>
    </div>
  </ul>



  <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
    <ul class="pagination justify-content-center" >

      <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
        <a th:href="@{'/menu' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
          <span aria-hidden='true'>&laquo;</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
        <a th:href="@{'/menu' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
        <a th:href="@{'/menu' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
          <span aria-hidden='true'>&raquo;</span>
        </a>
      </li>

    </ul>
  </div>


</div>
</html>